header {
	height: 60px;
	width: 100%;
	/*background: linear-gradient(90deg, rgba(47, 64, 86, 1) 0%, rgba(1, 91, 147, 1) 100%);*/
	background: url(../images/head_bg.jpg) repeat;
}

header>div {
	position: absolute;
	right: 10px;
	top: 0px;
	height: 60px;
	background: transparent;
}

.custom-mouse-position {
	left: 0px;
	bottom: 0px;
	position: absolute;
	z-index: 33;
	/*隐藏左下角坐标*/
	display: none;
}

.main {
	height: calc(100vh - 60px);
	width: 100%;
	position: relative;
}

.layui-nav .layui-nav-item a .layui-icon {
	font-size: 16px;
	margin-right: 3px;
}

.hide {
	display: none;
}

.hide1 {}

.navigation {
	position: absolute;
	min-height: 300px;
	z-index: 9;
	right: 10px;
	top: 100px;
	width: 280px;
	z-index: 9;
	background: #FFFFFF;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.navigation_title {
	height: 40px;
	background: #0F5380;
	width: 100%;
}

.navigation_title p {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	color: #F3F3F3;
	font-size: 16px;
	font-weight: 400;
}

.navigation_content {
	position: relative;
	width: 100%;
	height: auto;
}

.query {
	position: absolute;
	left: 40px;
	top: 20px;
	width: 280px;
	z-index: 9;
	background: #fff;
}

.query_content {
	position: relative;
	width: 100%;
	height: auto;
}

.statistics {
	position: absolute;
	left: 40px;
	top: 20px;
	width: 280px;
	z-index: 9;
	background: #fff;
}

.table-div {
	padding: 10px 10px;
}

.layui-form-label {
	text-align: left;
	padding: 8px;
	width: 70px;
}

.layui-form-item .layui-input-inline {
	width: 155px;
}

.layui-form-radio * {
	font-size: 13px;
}

.layui-form-radio>i {
	font-size: 20px;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #4BB2FF;
}

.layui-tab {
	margin: 0px;
}

.layui-tab-content {
	padding: 10px 0px;
}

.layui-tab-card {
	border: none;
	box-shadow: none;
}

.layui-tab-title li {
	padding: 0px 8px;
}

.mapdraw li {
	float: left;
	background: #F9F9F9;
	width: 54px;
	height: 50px;
	padding: 10px 5px;
}

.mapdraw li img {
	width: 43px;
	height: 31px;
}

.mapdraw li:hover {
	background: #EBEFF3;
	cursor: pointer;
}

.mapdraw li.active {
	background: #EBEFF3;
}

.navigation1 {
	position: absolute;
	left: 40px;
	bottom: 10px;
	width: 300px;
	z-index: 9;
	background: #FFFFFF;
}

.navigation1 .navigation_title {
	height: 40px;
	background: #0F5380;
	width: 100%;
}

.navigation1 .navigation_title p {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	color: #F3F3F3;
	font-size: 16px;
	font-weight: 400;
}

.navigation1 .navigation_right {
	position: absolute;
	right: 40px;
	height: 40px;
}

.navigation1 .navigation_right span {
	line-height: 40px;
	margin-right: 10px;
}

.navigation1 .navigation_content {
	position: relative;
	width: 100%;
	height: auto;
}

.map-type {
	z-index: 9;
	width: 280px;
	height: 60px;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.map-type button {
	cursor: pointer;
	border: none;
	float: left;
	width: 82px;
	height: 60px;
	position: relative;
	margin: 0 5px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.sl {
	background: url(../images/maptype_8a68f95.png) no-repeat;
	background-position: 0 -60px;
}

.yx {
	background: url(../images/maptype_8a68f95.png) no-repeat;
	background-position: 0 -180px;
}

.dx {
	background: url(../images/maptype_8a68f95.png) no-repeat;
	background-position: 0 -120px;
}

.map-type button span {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: url(../images/black_bg.png) repeat;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.map-type button.active span {
	background: url(../images/blue_bg.png) repeat;
}

.layui-table td,
.layui-table th {
	padding: 9px 5px;
	text-align: center;
}

.map {
	height: 100%;
	width: 100%;
}

.mapleft {
	width: 100%;
	position: relative;
	height: 100%;
}

.mapright {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 0px;
	height: 100%;
}

.tools-box {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	height: 40px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.tool-bar li {
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
}

.tool-bar li a {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/tool_icon.png) no-repeat;
}

.tool-bar li:hover {
	background: #4384db;
}

.tool-bar li:first-child {
	border-radius: 5px 0px 0 5px;
}

.tool-bar li:last-child {
	border-radius: 0 5px 5px 0;
}

.tool-bar li a.tool-case1 {
	background-position: 0 0;
}

.tool-bar li a.tool-case2 {
	background-position: 0 -40px;
}

.tool-bar li a.tool-case3 {
	background-position: 0 -80px;
}

.tool-bar li a.tool-case4 {
	background-position: 0 -120px;
}

.tool-bar li a.tool-case5 {
	background-position: 0 -160px;
}

.tool-bar li a.tool-case6 {
	background-position: 0 -200px;
}

.tool-bar li a.tool-case7 {
	background-position: 0 -240px;
}

.tool-bar li a.tool-case8 {
	background-position: 0 -280px;
}

.tool-bar li a.tool-case9 {
	background-position: 0 -320px;
}

.tool-bar li:hover a.tool-case1 {
	background-position: -40px 0;
}

.tool-bar li:hover a.tool-case2 {
	background-position: -40px -40px;
}

.tool-bar li:hover a.tool-case3 {
	background-position: -40px -80px;
}

.tool-bar li:hover a.tool-case4 {
	background-position: -40px -120px;
}

.tool-bar li:hover a.tool-case5 {
	background-position: -40px -160px;
}

.tool-bar li:hover a.tool-case6 {
	background-position: -40px -200px;
}

.tool-bar li:hover a.tool-case7 {
	background-position: -40px -240px;
}

.tool-bar li:hover a.tool-case8 {
	background-position: -40px -280px;
}

.tool-bar li:hover a.tool-case9 {
	background-position: -40px -320px;
}

.staticResultBoxS,
.staticResultBoxM {
	overflow: auto;
	border-top: 1px dotted #BFBFBF;
	border-bottom: 1px dotted #BFBFBF;
}

#s_chars,
#m_chars {
	width: 100%;
	height: 300px;
}
/*标绘*/
.imgdiv>img{
	margin:0 10px;
}

#a11{
	position: absolute;
	left:40px;
	top:20px;
    width: 300px;
    z-index: 9;
    background: #FFFFFF;
}
