.layui-input, .layui-textarea {
    display: inline-block;
}

.layui-input {
    border: none;
}

table {
    width: 100%;
    margin: 10px;
}

table tr td {
    padding: 5px;
    padding-right:15px;
    padding-bottom:0;
}

.layui-form-item {
    margin-bottom: 0;
}

.notEmpty:after {
    content: "*";
    color: red;
}

td .rightBtn {
    position: absolute;
    right: 0;
    height: 28px;
    background-color: #aaa;
    cursor: pointer;
    color: #fff;
    top: 0;
}

.layui-form-label {
    text-align: left;
    padding: 0;
    height: 28px;
    line-height: 28px;
}

.layui-input-block {
    height: 28px;
    min-height: 28px;
    margin-left: 90px;
}

.layui-input {
    height: 28px;
}

td .rightBtn .layui-btn {
    height: 28px;
    line-height: 28px;
    border-radius: 0;
    background-color: rgb(0, 150, 136);
}

.submitBox {
    padding: 10px;
    text-align: right;
    width: 100%;
    padding-top: 0;
}

.layui-upload-list {
    margin: 0;
}

#close{
    margin-right:15px;
}
