.main {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}

.left {
    width: 200px;
    height: 100vh;
    position: relative;
    padding: 0px 5px;
}

.middle {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 900px;
    height: 100%;
    overflow: auto;
}

.right {
    position: absolute;
    left: 960px;
    top: 0px;
    width: 700px;
    height: 100%;
    overflow: auto;
}

.bottom {
    height: 59px;
    text-align: center;
    border-top: 1px solid silver;
    line-height: 60px;
}

/*.bottom button{margin-top: 10px;}*/
.layui-table, .layui-table-view {
    margin: 0px;
    border: none;
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th {
    border-left: 1px solid #e6e6e6;
    padding: 5px 0px;
}

.layui-table-view .layui-table th {
    text-align: center;
}

.white .layui-table tbody tr:hover {
    background: transparent !important;
}

.layui-table-page, .layui-table-total {
    border-width: 1px 1px 0px;
}

.layui-table-body {
    margin-bottom: 0px;
    margin-right: 0px;
}

table tr td {
    padding: 5px;
    position: relative;
}

.layui-input, .layui-textarea, .layui-form {
    width: 170px;
    line-height: 28px;
    height: 28px;
}

/*p{font-size: 20px; font-weight: bold;padding: 10px;}*/
.content {
    margin-top: 10px;
}

.title {
    font-size: 20px;
    border-bottom: 1px solid #309DDB;
    padding: 10px;
}

.download {
    font-size: 16px;
    margin-left: 10px;
    color: #309DDB;
}

dl {
    margin-top: 5px;
}

dl dd {
    padding: 10px 0px;
    width: 100%;
    text-indent: 10px;
}

dl dd:hover {
    background: #4BA1DA;
}

dl dd.active {
    background: #4BA1DA;
}

.red {
    color: red;
    position: absolute;
    left: 3px;
}

.xhx {
    border: none;
    border-bottom: 1px solid #4BA1DA;
    width: 100%;
}

.xhx150 {
    width: 80px;
}

.xhx100 {
    width: 100%;
}

.hide {
    display: none;
}

.layui-form-switch {
    margin-top: 0px;
}

.layui-form-onswitch {
    border-color: #0D7AFF;
    background-color: #0D7AFF;
}

.imgList img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.imgList img:hover {
    background: rgba(0, 0, 0, 0.5);
}

#FJLR a {
    list-style: none;
    margin-right: 20px;
}